*{margin: 0; padding: 0;}

.cropped img {
    margin: -2px 0px -24px 0px;
}

.cropped {
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
}

.parallax-style {
    background-color: rgba(26, 188, 156, 0.8);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

a.nuthire.btn.btn-primary {
    width: 90px;
    border: 2px solid;
    border-radius: 0;
    background-color: unset;
}

a.nuthire:hover {
    color: black;
    /* background-color: #17a2b8; */
    /* border-color: #17a2b8; */
}

.tt h4 {
    margin: 20px 0;
    color: white;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 20%;
}

img.avatar {
    width: 100%;
    /* border-radius: 50%; */
    /* margin-bottom: 50px; */
} 

.logo {
    height: 70px;
    padding-bottom: 20px;
}

.name-logo {
    margin-left: -13px;
    font-size: 20px;
    font-weight: bold;
    font-family: fantasy;
    color: white;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height: 41px;
}

li.nav-item {
    margin: 0;
    padding: 0;
    margin: 0 20px;
}

@media (max-width: 576px) {
    *{}

    ul.nav.navbar-nav.float-xs-right {float: none !important;}

    li.nav-item {
        margin: 0px 7px;
    }

    a.navbar-brand {
        text-align: center;
        width: 100%;
    }
    
}

body,html {
    height: 100%;
    width: 100%;
    background: gray;
    perspective: 2200px;
}

.main-cv {
    height: 100%;
    width: 100%;
    color: #8c8c8c;
    background: #f1f2f7;
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.42857143;
    transition: 0.4s;
    transform-origin: 100% 0;

}

.main-rotate {
    transform: rotateY(-15deg);
}

.khoi1 {
    background: #CFB488;
    height: 100%;
    width: 100%;
    position: relative;
}

.header-1 {
    height: 657px;
    background-image: url(images/header-bg.jpg);
    background-color: rgb(26, 188, 156);
    background-position: 50% -110px;
}

.default-section {
    margin-bottom: 40px;
}

.section-heading {
    background: #FFF;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
    padding: 30px 0;
    margin-bottom: 40px;
}

.section-heading .section-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #a8aab3;
    font-size: 33px;
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 3px;
}

.profile-photo {
    padding: 12px;
}

.section-box {
    background: #FFF;
    border-radius: 5px;
    padding: 30px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32323a;
    margin-top: 0;
    margin-bottom: 30px;
}

.btn.download-btn {
    background: #16a085;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 35px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.download-btn:after, .btn.download-btn:before {
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.download-btn:before {
    top: 7px;
    opacity: 1;
}

.btn.download-btn:after {
    content: "\f019";
    top: -7px;
    opacity: 0;
}
.btn.download-btn:hover {
    background: #1fb5ac;
}

.btn.download-btn:hover:before {
    top: 17px;
    opacity: 0;
}

.btn.download-btn:hover:after {
    top: 7px;
    opacity: 1;
}

.container-detail {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container-detail {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container-detail {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-detail {
        width: 1170px;
    }
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

.address-line {
    padding: 0;
}

.address-line li {
    list-style: none;
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
}

.address-line li:before {
    position: absolute;
    font-family: FontAwesome;
    color: #9397aa;
    left: 0;
    font-size: 18px;
}

.box-title {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    color: #32323a;
}

.experience-item {
    background: #FFF;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.experience-item .name-designation {
    width: 30%;
    text-align: right;
    padding-right: 45px;
    float: left;
}

.name-designation .designation {
    color: #32323a;
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.name-designation .name-of-org {
    font-size: 16px;
    color: #808080;
}

.experience-item .stay-time {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #f1f2f7;
    position: absolute;
    top: -8px;
    left: 30%;
}

.light-violet {
    background: #c0a9ea;
}

.light-yellow {
    background: #ffdf7c;
}

.light-green {
    background: #aec785;
}

.experience-item:hover .stay-time {
    border: 15px solid #f1f2f7;
    padding-top: 20px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.light-yellow, .light-green, .light-violet, .light-blue {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.experience-items div:last-of-type {
    margin-bottom: 0;
}
.experience-item .comments {
    float: right;
    width: 53%;
}

span.bold, a.bold {
    font-weight: bold;
}

.education-container {
    margin-top: 20px;
}

.education-item {
    position: relative;
    background: #FFF;
    padding: 30px;
    padding-top: 70px;
    margin-bottom: 30px;
}

.education-item .edu-time {
    width: 100px;
    height: 100px;
    border: 10px solid #f1f2f7;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 16px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
}

.education-item .edu-title {
    text-align: center;
}

.education-item .edu-comments {
    text-align: justify;
    border-top: 1px solid #dddfeb;
    padding-top: 10px;
}

.edu-time p {
    line-height: 16px;
}

.education-item:hover .light-green {
    background: #9fba72;
}
.education-item:hover .edu-time {
    border: 5px solid #f1f2f7;
    padding-top: 21px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

@media only screen and (max-width: 992px) and (min-width: 320px) {
    .experience-item .stay-time {
        position: relative;
        left: auto;
        top: auto;
        margin: 17px auto;
    }
}

@media (max-width: 576px) {
    .tt {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 320px) {
    .experience-item .name-designation {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
    }
}

@media only screen and (max-width: 992px) and (min-width: 320px) {
    .experience-item .comments {
        float: none;
        width: 100%;
    }
}

.navigation-header {
    background: #34495e;
    height: 80px;
    padding: 25px;
    padding-top: 13px;
}

.main-navigation {
    background: #32323a;
    z-index: 100;
}

.main-navigation.side-static {
    width: 210px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -210px;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.main-navigation.side-static.extend {
    left: 0px;
}

.navigation-header .menu-switch {
    color: #FFF;
    background: #32323a;
    font-size: 25px;
    border: none;
    position: relative;
    left: 185px;
    padding: 5px 15px;
    top:-25px;
    cursor: pointer;
}

.navigation-header .menu-switch.open {
    font-size: 20px;
    color: #758697;
    padding: 0;
    margin-left: 10px;
    background: transparent;
    border-radius: none;
    left: 0;
    top:0;
}

button:focus {
    outline: none;
    border: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.side-static .nav li a {
    color: #aeb2b7;
    border-bottom: 1px solid #3c3c44;
    padding: 15px;
}

.side-static .nav li a:hover, .side-static .nav li a:focus, .side-static .nav li.active a {
    background: #28282e;
    color: #3498db;
}

.side-static .nav li a:hover, .side-static .nav li a:focus, .side-static .nav li.active a {
    background: #28282e;
    color: #3498db;
}

.side-static .nav li a:before {
    font-family: FontAwesome;
    margin-right: 20px;
}

.social-profiles .icon-log a {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    color: #a6dbd1;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    margin: 3px;
    z-index: 0;
    text-decoration: none;
}

.social-profiles .icon-log {
    display: inline-block;
    margin-top: 15px;
    transition: 0.4s;
    opacity: 0;
    transition-timing-function: ease-in;
    animation: hienra 0.4s forwards;
}

.social-profiles .icon-1 { 
}

.social-profiles .icon-2 {
    animation-delay: 0.1s;
}

.social-profiles .icon-3 {
    animation-delay: 0.2s;
}

@-webkit-keyframes hienra {
    0% { transform: translateY(100px);
    opacity: 0; }
    100% { transform: translateY(0);
    opacity: 1 }
}

.social-profiles .icon-log a:before {
    font-family: FontAwesome;
    font-size: 20px;
}

.social-profiles .icon-log a:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    background: transparent;
    z-index: -1;
    transition: all .25s ease;
}
.social-profiles .icon-log a:hover {
    text-decoration: none;
    color: #1fb5ac;
}

.social-profiles .icon-log a:hover:after {
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
}

.social-profiles .icon-log a span {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    text-align: center;
    color: #fff;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.social-profiles .icon-log a span, .social-profiles .icon-log a:after {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.social-profiles .icon-log a:hover span {
    display: block;
    top: -30px;
    width: 130px;
    height: auto;
    opacity: 1;
    overflow: visible;
}

.tt .title-name {
    animation: title-name 1s forwards;
    transition-timing-function: ease-in;
}

@-webkit-keyframes title-name {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.den {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.len {
    opacity: 1;
    visibility: visible;
}